PORT=5000
MONGO_URI = mongodb://vaibhav_12:Choure123@ac-2ujnnfn-shard-00-00.tdazosz.mongodb.net:27017,ac-2ujnnfn-shard-00-01.tdazosz.mongodb.net:27017,ac-2ujnnfn-shard-00-02.tdazosz.mongodb.net:27017/?ssl=true&replicaSet=atlas-23e0zx-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=my_123
NODE_ENV=development
